{% load static %}

{% include "components/head.html" %}

{% include "components/navbar.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% endblock %}


<div class="container text-dark pt-5 signup-style mt-5">
  <div class="row bg-light">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign In" %}</h3>

      <p>{% blocktrans %}Welcome back to the Travel-blog. To leave a comment on the post, please log in. If you
        have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row bg-light pb-5">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right bg-dark text-light" type="submit">{% trans "Sign In" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

<footer class="footer py-4 bg-dark text-light mt-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
          <div class="col-lg-4 my-3 my-lg-0">
              <a class="btn btn-dark btn-social mx-2" href="https://twitter.com" aria-label="Twitter" target="_blank" rel="noopener" aria-label="Visit our Twitter page"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://facebook.com" aria-label="Facebook" target="_blank" rel="noopener" aria-label="Visit our Facebook page"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://linkedin.com" aria-label="LinkedIn" target="_blank" rel="noopener" aria-label="Visit our Linkedin page"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://instagram.com" aria-label="Instagram" target="_blank" rel="noopener" aria-label="Visit our Instagram page"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
</footer>