/* index.html page */
.post-link {
    text-decoration: none;
    color: #030910;
}

.carousel-item {
    height: 80vh;
}

.image-container {
    position: relative;
}

.image-detail {
    position: absolute;
    bottom: 10%;
    min-width: 30%;
    background-color: #0ecec7;
}

.author {
    color: rgb(249, 244, 244);
    margin: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.sidebar{
    box-shadow: 0 16px 48px #E3E7EB;
    float: right;
    margin: 2%;
}


.card-body {
    border: none;
    margin-top: 5px;
}

.container {
    margin-left: 5px;
}

.signup-style {
    height: 80vh;
}


/* Contact form */
.form {
    height: 100vh;
}
