{% load static %}

{% include "components/head.html" %}

{% include "components/navbar.html" %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="title mt-3">Update Comment</h1>
            <p>Updating as: {{ user.username }}</p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary right mb-4" type="submit" value="Save">Update</button>
            </form>
        </div>
    </div>
</div>

</body>