{% extends "base.html" %}

{% block content %}

<div class="container mx-auto mt-3">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img-top" alt="code-institute-image">
                    {% else %}
                    <img src="{{ post.featured_image.url }} " class="card-img-top" alt="city-image" >
                    {% endif %}
                    <div class="image-detail">
                        <p class="author">Author: {{ post.author }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <a href="{% url 'detail_blog' post.slug %}" class="post-link">
                        <h3 class="card-title">{{ post.title }} </h3>
                        <p class="card-text">{{ post.excerpt }} </p>
                    </a>
                </div>
                <hr>
                <p class="card-text text-muted">{{ post.created_on}} </p>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>
{%endblock%}
