{% load static %}

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">My favourite destinations</h2>
            <h3 class="section-subheading text-muted">“The journey is my home” – Muriel Rukeyser</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/1.jpg' %}" alt="city-image" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2015</h4>
                        <h4 class="subheading">Bruge, Belgium</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                        <p>Bruges, the capital of West Flanders in northwest Belgium,
                            is distinguished by its canals, cobbled streets and medieval buildings. Its port,
                            Zeebrugge, is an important center for fishing and
                            European trade.In the city center’s Burg square, the 14th-century Stadhuis (City Hall)
                            has an ornate carved ceiling. Nearby,
                            Markt square features a 13th-century belfry with a 47-bell carillon and 83m tower with
                            panoramic views.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/2.jpg' %}" alt="city-image" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2018</h4>
                        <h4 class="subheading">Algarve, Portugal</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Algarve, Portugal’s southernmost region, is known for its Atlantic
                            beaches and golf resorts.
                            Whitewashed fishing villages on low cliffs overlooking sandy coves were transformed in
                            the 1960s, and now its central coast between Lagos and Faro is lined with villas,
                            hotels, bars and restaurants. The region's western Atlantic coast and rugged interior
                            are less developed.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/3.jpg' %}" alt="city-image" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2019</h4>
                        <h4 class="subheading">Lake Como, Italy</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lake Como, in Northern Italy’s Lombardy region, is an upscale resort
                            area known for its dramatic scenery,
                            set against the foothills of the Alps. The lake is shaped like an upside-down Y, with
                            three slender branches that meet at the resort town of Bellagio.
                            At the bottom of the southwest branch lies the city of Como, home to Renaissance
                            architecture and a funicular that travels up to the mountain town of Brunate.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/4.jpg' %}" alt="city-image" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Lanzarote, Canary Islands</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Canary Islands, a Spanish archipelago off the coast of
                            northwestern Africa, are rugged volcanic isles known for their black- and white-sand
                            beaches.
                            Tenerife, the largest island, is dominated by the sometimes-snowy active volcano Mt.
                            Teide, which has its own astronomical observatory and
                            is part of Teide National Park. Tenerife hosts a huge pre-Lent Carnival in the capital,
                            Santa Cruz de Tenerife.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>