{% load static %}

<!--about section-->
<section id="about" class="about-section-padding my-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 com-md-12 col-12 mt-3">
          <div class="about-image">
            <img src="{% static 'assets/img/about.jpg' %}" alt="about-image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5">
          <div class="about-text">
            <h2>We provide the best <br>Travel blogs</h2>
            <p>Urban Travel Blog is a collective blog of expert travel writers, headed up by experienced travel journalist and editor Duncan Rhodes, who report on trends, experiences, festivals and nocturnal adventures in cities around Europe and the world.

              We publish lovingly-compiled ‘Long Weekend’ city guides to all our favourite destinations, as well as fresh and insightful feature articles on the quirkiest crazes, the most intriguing experiences and the best nightlife our boundless curiosity can uncover. 
              
              City breaks are what we live for most of all, and apart from our aforementioned Long Weekend guides, we also list our favourite cities according to theme. Be sure to drop by our favourite budget breaks and romantic destinations.
            </p>
            <a href="#" class="btn btn-warning mt-2">Read our blogs!!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end about section-->