{% load static %}

<!-- carousel section-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/img/carousel/1.jpeg' %}" class="d-block w-100" alt="beach-image">
      <div class="carousel-caption">
        <h5>Why should you travel?</h5>
        <p>The ultimate guide to the best EU destinations</p>
        <a href="#" class="btn btn-warning mt-3">Read more!!</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/img/carousel/2.jpg' %}" class="d-block w-100" alt="japan-image">
      <div class="carousel-caption">
        <h5>Why should you travel?</h5>
        <p>Update on language and local currency</p>
        <a href="#" class="btn btn-warning mt-3">Read more!!</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/img/carousel/3.jpeg' %}" class="d-block w-100" alt="light-house-image">
      <div class="carousel-caption">
        <h5>Why should you travel?</h5>
        <p>Most famous EU destinations!!</p>
        <a href="#" class="btn btn-warning mt-3">Read more!!</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- carousel section end-->